<div class="app">
  <h1>
    Your balance: <b>{{ (balance$ | async) }}</b>
  </h1>
  <div class="inputs">
    <div class="group">
      <input type="number" min="1" [(ngModel)]="depositInput" />
      <button (click)="deposit(depositInput)">Fill</button>
    </div>
    <div class="group">
      <input type="number" min="1" [(ngModel)]="withdrawInput" />
      <button (click)="withdraw(withdrawInput)">Withdraw</button>
    </div>
  </div>
  <hr>
  Transaction history:
  <ul class="history">
    <li
      *ngFor="let transaction of (account$ | async).history"
      [class.deposit]="transaction.type === 'deposit'"
      [class.withdraw]="transaction.type === 'withdraw'"
    >
      {{ transaction.type === 'deposit' ? '+' : '-' }}{{ transaction.value }}
    </li>
  </ul>
</div>

<router-outlet></router-outlet>
